<?xml version="1.0" encoding="UTF-8"?><web-app>
<display-name>QuestionnaireMobile</display-name>

<!--  
  <security-constraint>
  <web-resource-collection>
    <web-resource-name>
      Entire Application
    </web-resource-name>
    <url-pattern>/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
      <role-name>manager</role-name>
  </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Admin</realm-name>
  </login-config>
  -->
</web-app>
